.logo{
    margin-bottom: 3em;
}
main{
    
    width: 100%;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-around;

}
.fotoselfie{
    margin-top: 10em;
    height: 15em;
    width: 15em;
}