body {
  /* background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  background: url("/assets/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  padding-top: 3em;
  padding-left: 10em;
  color: white;
  font-family: 'system-ui'
}

.logo {
  height: 70px;
  width: 250px;
}

.nextBtn {
  color: #00ffff;
  height: 50px;

  width: 50px;
}
.tit1{
  font-size: 3em;
  font-weight: 400;
}