body {
  /* background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  background: url("/assets/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  padding-top: 3em;
  padding-left: 10em;
  color: white;
}

.logo {
  height: 60px;
  width: 250px;
}

.nextBtn {
  color: #03005e;
  background-color: #00ffff;
  font-weight: 700;
  font-size: larger;
  text-align: center;
  width: 200px;
  height: 75px;
  border: #00ffff;
  /* box-shadow: 5px 5px 5px 5px #00ffff; */
}
