h1 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
}

.tit1 {
  font-weight: 400;
}
main {
  margin-left: 10em;
  margin-right: 10em;
  text-align: center;
  padding-top: 6em;
  height: 100%;
}
.tit2 {
  margin-top: -1em;
}
footer {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  /* padding-bottom: 5em;*/
  position: absolute;
  width: 99%;
  bottom: 0;
}

ul,
li {
  text-align: center;
  display: none;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  cursor: pointer;

  border-radius: 50px;
}

.nextBtn {
  margin-top: 2em;
  border-radius: 10px;
  margin-bottom: 3em;
}
ul {
  border: none;
}
li {
  border: 1px solid #653579;
}

.risposte {
  background-color: transparent;
  color: white;
  border: 3px white;
  border-radius: 40px;
  margin: 1em;
  padding: 30px 120px 30px 120px;
  -moz-box-shadow: 2px 0px 3px rgb(255, 255, 255);
  -webkit-box-shadow: 2px 0px 3px rgb(255, 255, 255);
  box-shadow: 2px 0px 3px rgb(255, 255, 255);
}
/* -webkit-box-shadow: inset -1px 4px 27px -11px #F7FDFF;
-moz-box-shadow: inset -1px 4px 27px -11px #F7FDFF;
-o-box-shadow: inset -1px 4px 27px -11px #F7FDFF;
box-shadow: inset -1px 4px 27px -11px #F7FDFF; */

.risposte:active,
.risposte:focus {
  background: #900080;
}
