h1 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
}

.tit1 {
  font-weight: 400;
}
main {
  margin-left: 10em;
  margin-right: 10em;
  text-align: center;
  padding-top: 6em;
}
.tit2 {
  margin-top: -1em;
}
footer {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 15em;
}
ul,
li {
  text-align: center;
  display: none;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  cursor: pointer;

  border-radius: 50px;
}

.nextBtn {
  margin-top: 2em;
  border-radius: 10px;
}
ul {
  border: none;
}
li {
  border: 1px solid #653579;
}

.risposte{
  
  background-color: transparent;
  color:  white;
  border: inset 3px white;
  border-radius: 40px;
  margin: 1em;
  padding: 30px 120px 30px 120px;
  /* -webkit-box-shadow: inset -1px 4px 27px -11px #F7FDFF;
-moz-box-shadow: inset -1px 4px 27px -11px #F7FDFF;
-o-box-shadow: inset -1px 4px 27px -11px #F7FDFF;
box-shadow: inset -1px 4px 27px -11px #F7FDFF; */
}

