h1 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
}

.tit1 {
  font-weight: 400;
}
main {
  text-align: center;
  padding-top: 6em;
}
.tit2 {
  margin-top: -1em;
}
footer {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 15em;
}

#timer {
  width: 200px;
  height: 200px;
  position: relative;
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.circle .mask,
.circle .fill {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.circle .mask.full {
  clip: rect(0px, 200px, 200px, 100px);
}

.circle .mask.half {
  clip: rect(0px, 100px, 200px, 0px);
}

.circle .fill {
  background: #ff1e41;
  transform: rotate(180deg);
}

.circle .fill.fix {
  transform: rotate(180deg);
}

.circle .shadow {
  width: 100%;
  height: 100%;
  background: #ddd;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

#timer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
